* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #333333;
  text-align: center;
}

header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  font-family: "Roboto Slab", serif;
  font-size: 32px;
  background-color: #212121;
  color: white;
  text-align: center;
}

header nav {
  background-color: #ff0000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

a {
  color: white;
  text-decoration: none;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  color: white;
  font-size: 24px;
  position: relative;
}

footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-color: #212121;
  color: white;
  font-size: 32px;
  text-align: center;
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transition: 1s;
}

nav a:not(:hover) {
  background-color: #ff1500;
  transition: 0.5s;
}

.img {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.banner img {
  margin: 100px;
  flex: 0 1 auto;
  width: 1500px;
}

.featured img {
  flex: 0 1 auto;
  width: 900px;
}

@media (max-width: 600px) {
  .banner img {
    width: 300px;
  }
  .featured img {
    width: 200px;
  }
}
