* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #333333;
  text-align: center;
}

header {
  font-family: "Roboto Slab", serif;
  position: sticky;
  top: 0;
  font-size: 32px;
  background-color: #212121;
  color: white;
  text-align: center;
  text-decoration: none;
}

header img {
  width: 5rem;
}

header .navMain {
  background-color: #ff0000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

input {
  width: 30%;
  height: 50px;
  font-size: 24px;
}

a {
  color: white;
  text-decoration: none;
}

main {
  color: white;
  font-size: 24px;
}

footer {
  background-color: #212121;
  color: white;
  font-size: 32px;
  text-align: center;
}

.navHead {
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.navMain a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(51, 51, 51);
  transition: 1s;
}

.navMain a {
  transition: 0.5s;
}

.navHead a:hover {
  text-decoration: underline;
  transition: 1s;
}

.navHead a:not(:hover) {
  transition: 0.5s;
}

.img {
  display: flex;
  justify-content: center;
}

.banner img {
  margin: 5%;
  flex: 0 1 auto;
  width: 80%;
}

.featured img {
  margin-bottom: 100px;
  flex: 0 1 auto;
  width: 50%;
}
.products img {
  width: 50%;
}
.products {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-between;
  padding-left: 13%;
}

/*
@media (max-width: 600px) {
  .banner img {
    width: 300px;
  }
  .featured img {
    width: 200px;
  }
}
*/
