* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #333333;
  text-align: center;
}

header {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  font-family: "Roboto Slab", serif;
  font-size: 32px;
  background-color: #212121;
  color: white;
  text-align: center;
  color: white;
  text-decoration: none;
}

header img {
  width: 75px;
}

.navHead {
  margin: 1.5%;
}

.navHead a {
  margin: 10%;
}

header .navMain {
  background-color: #ff0000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

input {
  width: 30%;
  height: 50px;
  font-size: 24px;
}

a {
  color: white;
  text-decoration: none;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  color: white;
  font-size: 24px;
  position: relative;
}

footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-color: #212121;
  color: white;
  font-size: 32px;
  text-align: center;
}

.navMain a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(51, 51, 51);
  padding-left: 100px;
  padding-right: 100px;
  transition: 1s;
}

.navMain a:not(:hover) {
  background-color: rgba(0, 0, 0, 0);
  transition: 0.5s;
}

.navHead a:hover {
  text-decoration: underline;
  transition: 1s;
}

.navHead a:not(:hover) {
  transition: 0.5s;
}

.img {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.banner img {
  margin: 100px;
  flex: 0 1 auto;
  width: 60%;
}

.featured img {
  margin-bottom: 100px;
  flex: 0 1 auto;
  width: 40%;
}

/*
@media (max-width: 600px) {
  .banner img {
    width: 300px;
  }
  .featured img {
    width: 200px;
  }
}
*/
